<div class="page">
    <ng-content></ng-content>
    <!-- <div class="page-content">
        <div class="row">
            <div class="input">
                <h1 class="title">
                    رقم الرحلة</h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="GTU3535" class="custom-input" />
                </mat-form-field>
            </div>
            <div class="input">
                <h1 class="title">
                    التاريخ </h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="1446/09/01" class="custom-input" />
                </mat-form-field>
            </div>
            <div class="input">
                <h1 class="title">
                الوقت </h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="9:00" class="custom-input" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="input">
                <h1 class="title">
                    رقم الرحلة</h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="GTU3535" class="custom-input" />
                </mat-form-field>
            </div>
            <div class="input">
                <h1 class="title">
                    التاريخ </h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="1446/09/01" class="custom-input" />
                </mat-form-field>
            </div>
            <div class="input">
                <h1 class="title">
                الوقت </h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="9:00" class="custom-input" />
                </mat-form-field>
            </div>
        </div>
    </div> -->

</div>